<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">AdoptaYA!</a>

        <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('mascotas_view') }}">Mascotas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('adoptantes_view') }}">Adoptantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('refugios_view') }}">Refugios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('solicitudes_view') }}">Solicitudes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}#contacto">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
